

body {
    background: gray;
    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
    padding: 25px 50px;
    background-image: url("/image.jpg");
    background-size: cover; 
    background-position: center;
  }


h1{
    color: #09507c;
    text-align: center;
}
 
h5, h2, h3 {
    color: #09507c;
    text-align: center;
    padding: 2px 10px;
    border-radius: 10px;
    background: #deedf2;
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}

#loginDiv {
    max-width: 300px;
    margin: auto;
    border: 2px solid black;
    padding: 2px 10px;
    border-radius: 10px;
}

#appDiv{
    max-width: 400px;
    margin: auto;
    border: 2px solid black;
    padding: 2px 10px;
    border-radius: 10px;
}

.item {
    border: 2px solid #535151; 
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-image: url("/image1.jpg"); 
    background-size: cover;
    background-position: center; 
    height: 200px; 
  }

#templateClone{
    max-width: 300px;
    height: 200px; 
}



