

body {
    background: gray;
    color: #232323;
    line-height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0;
    padding: 25px 50px;
  }

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}

#loginDiv {
    max-width: 300px;
    margin: auto;
}

#appDiv{
    max-width: 400px;
    margin: auto;
}